<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-update-user></app-update-user>
    </div>
    <div class="col-4">
      <app-add-user></app-add-user>
    </div>
    <div class="col-4">
      <app-get-one-user></app-get-one-user>
      <hr/>
        <app-delete-user></app-delete-user>
   
    </div>
    <div class="col-4">
      <app-get-user></app-get-user>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <app-tdf-demo></app-tdf-demo>
    </div>
    <div class="col-5">
      <app-mdf-demo></app-mdf-demo>
    </div>
  </div>


 
  
</div>